@use "./variables" as var;

:root {
	font-size: 0.75rem;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html {
	background-color: var.$primary;
}

button {
	background-color: var.$accent;
	border: 0;
	border-radius: 1em;
	padding: 0.5em 1.25em;
	margin: 0.25em 0.5em;
	font-size: 1rem;
	box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.5);
	&:hover {
		filter: brightness(0.8);
	}
}

input {
	border-radius: 0.75em;
	height: 2em;
	border: 0;
}
