@use "./variables" as var;

.Main {
	margin-block: 30px;
	.search-for-currencies-row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.currencies-container {
		display: flex;
		justify-content: center;
		.currencies {
			width: 90vw;
		}
	}
	.currency-row {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		div {
			text-align: center;
			background-color: var.$secondary;
			padding: 10px 3px;
			margin: 0.25rem 0;
			border-bottom: 2px solid var.$accent;
			&:first-child {
				color: rgb(211, 211, 211);
			}
			&:nth-child(5) {
				color: goldenrod;
			}
			&.positive-change {
				background-color: rgba(rgb(36, 138, 40), 0.5);
			}
			&.negative-change {
				background-color: rgba(rgb(173, 63, 63), 0.5);
			}
			&.zero-change {
				background-color: rgba(rgb(180, 149, 25), 0.5);
			}
		}
		&.labels {
			margin: 10px 0;
			div {
				color: black;
				font-weight: bold;
			}
			&:hover {
				filter: none;
			}
		}
		transition: filter 0.25s;
		&:hover {
			filter: brightness(1.25);
		}
	}
	.search-status-messages {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		p {
			border-radius: 1rem;
			padding: 10px;
			width: fit-content;
		}
		&.neutral {
			p {
				background-color: rgb(223, 187, 46);
			}
		}
		&.err {
			p {
				background-color: var.$accent;
			}
		}
	}
}
