@use "./variables" as var;

.Main {
	margin-top: 30px;
	// display: flex;
	.search-for-currencies-row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.currencies-container {
		display: flex;
		justify-content: center;
		.currencies {
			width: 90vw;
		}
	}
	.currency-row {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		div {
			text-align: center;
			background-color: var.$secondary;
			padding: 10px 3px;
			margin: 0.25rem 0;
			border-bottom: 2px solid var.$accent;
			&:first-child {
				color: rgb(211, 211, 211);
			}
			&.positive-change {
				background-color: rgba(rgb(36, 138, 40), 0.5);
			}
			&.negative-change {
				background-color: rgba(rgb(173, 63, 63), 0.5);
			}
			&.zero-change {
				background-color: rgba(rgb(180, 149, 25), 0.5);
			}
		}
		&.labels {
			div {
				color: black;
				font-weight: bold;
				margin: 10px 0;
			}
		}
	}
}
